/* Sets the box-sizing, the padding and the margin of the entire page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color of the body */
body {
    background-color: #d9dcd6;
}

/* Sets the padding, the background color, the color and the font-family of the header section */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styles the headline element so that it is displayed as an in-line block element and sets the font-size*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets the color of the span element within the headline element */
.seo {
    color: #d9dcd6;
}

/* Sets the navigation section padding-top, margin-right and floats the element to the right side of its container. Sets the font-family and font-size */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Sets the unordered list style to none so that bullet points are not displayed */
ul {
    list-style-type: none;
}

/* Styles the unordered list items so that they're displayed as in-line block elements and sets the margin-left */
ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets the anchor elements color and removes the text-decoration (no underline) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets the paragraphs font-size */
p {
    font-size: 16px;
}

/* Specifies the background image source. Styles the background-size as cover and sets the background-position so that the image is displayed in the center. It also sets the image height and width */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Floats the element to the left side of its container ans sets the margin-right */
.seo-image {
    float: left;
    margin-right: 25px;
}
/* Floats the element to the left side of its container ans sets the margin-right */
.smm-image {
    float: left;
    margin-right: 25px;
}
/* Floats the element to the right side of its container ans sets the margin-left */
.orm-image {
    float: right;
    margin-left: 25px;
}

/* Styles the Content section so that it is displayed as an in-line block element. Also, it sets the width and margin-left of the section */ 
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets the Benefits section margin-right, padding, height and weight. Floats the element to the right side of its container and clears any floating elements on both sides of the element. It also sets the font-family and background-color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets Benefit sub-sections margin-bottom and color */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets Benefit sub-sections Headings margin-bottom and and text-align to center */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styles the images in the Benefit sub-sections so that they're displayed in block and sets the margin and max-width */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets the Content sub-sections margin-bottom, padding and height. It also sets the font-family, background-color and color for each of them */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets the max-height of the images included in the sub-sections of the Content section */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* Sets the margin-bottom and font-size of the Headings included in the sub-sections of the Content section */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets footer padding, and clears any floating elements on both sides of the element. Also, sets the font-family and positions text in the center of the section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets the font-size of the Heading in the footer section */
footer h2 {
    font-size: 20px;
}
